{% extends "pages/base/superbase.html" %}
{% load static %}

{% block title %}Welcome to Masroofy{% endblock %}

{% block content %}

    <script type="module" src="{% static '/pages/onboarding/js/onboarding.js' %}"></script>

    <h1>Welcome to Masroofy</h1>
    <p>Let’s set up your financial oasis for this cycle. High-end budgeting, made for students.</p>

    <form method="POST" action="start_cycle/">
        {% csrf_token %}

        <p><small>TOTAL ALLOWANCE (EGP)</small></p>
        <div>
            <h2>EGP </h2>
            <input type="number" name="amount" required step="0.01" /> 
        </div>

        <table width="100%">
            <tr>
                <td>
                    <p><small>START DATE</small></p>
                    <input type="date" name="start_date" required>
                </td>
                <td>
                    <p><small>END DATE</small></p>
                    <input type="date" name="end_date" required>
                </td>
            </tr>
        </table>

        <br>

        <blockquote>
            Tip: Most students find a <b>30-day cycle</b> helps best with monthly allowance management.
        </blockquote>

        <br>

        <button type="submit" id="start-btn">
            Start Cycle ➔
        </button>
    </form>

    <p align="center">
        <small>By starting, you agree to our <a href="#">Terms of usage</a>.</small>
    </p>

{% endblock %}