{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Masroofy{% endblock %}</title>
  <link rel="shortcut icon" href="/static/assets/favicon.png" type="image/x-icon">

  <link rel="stylesheet" href="{% static 'css/Base.css' %}">

  {% block navcss %}{% endblock %}
  
  {% if settings is not None and settings.theme == 'Dark Mode' %}
  <link rel="stylesheet" href="/static/css/dark_theme.css">
  {% endif %}

  {% block styles %}{% endblock %}
</head>
<body>

  {% block nav %}{% endblock %}

  {% block content %}{% endblock %}

  <footer>
    <p>&copy; 2026 Masroofy. All rights reserved.</p>
  </footer>

</body>
</html>