<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settings</title>
</head>
<body>
    <h2>Settings</h2>
    <div class="settings">
        <h3>update your settings</h3>
        <form method="POST"">
            {% csrf_token %}
            {{ settingForm.as_p }}
            <button type="submit" name="btnSettingsUpdate" ">Save Settings</button>
        </form>
    </div>
    <div class="settings">
        <h3>change your password</h3>
        <form method="POST">
            {% csrf_token %}
            {{ passwordForm.as_p }}
            <button type="submit" name="btnChangePassword">change password</button>
        </form>
    </div>
</body>
</html>